name: CI Pipeline

on:
  push:
    branches:
      - develop
      - feature/*
  pull_request:
    branches:
      - develop

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout code
        uses: actions/checkout@v3

      # Setup Java 17
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'maven'

      # Build & run tests
      - name: Build and run tests
        run: mvn clean test

      # Upload test reports (FIXED)
      - name: Upload test reports
        uses: actions/upload-artifact@v4
        with:
          name: surefire-test-report
          path: target/surefire-reports/
  deploy:
    name: Deploy (waiting for Docker)
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Docker build (placeholder)
        run: echo "Dockerfile not ready yet"

      - name: Push Docker image (placeholder)
        run: echo "Docker Hub push will be added later"

      - name: Kubernetes deploy (placeholder)
        run: echo "K8s deployment will be added later"

